<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Identification:</strong>
  <%= @student.identification %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @student.professor.name %>
</p>

<p>
  <strong>Section:</strong>
  <%= @student.section.number %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
