<p id="notice"><%= notice %></p>
<%= link_to 'Log out', destroy_user_session_path, method: :delete %>
<h1>Sections</h1>
    <%= form_tag(search_sections_url, method: :get) do %>
    <%= label_tag(:q, "Search for: ") %>
    <%= text_field_tag(:q, params[:q]) %>
    <%= submit_tag("Search") %>
    <% end %> 

<table>
  <thead>
    <tr>
      <th>Section Number</th>
      <th>Course Name</th>
      <th>Department</th>
      <th>Credit Hours</th>
      <th>Professor</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td><%= section.number %></td>
        <td><%= section.course.name %></td>
        <td><%= section.course.department %></td>
        <td><%= section.course.hours %></td>
        <td><%= section.professor.name %></td>
        <td><%= link_to 'Show', section %></td>
        <td><%= link_to 'Edit', edit_section_path(section) %></td>
        <td><%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Section', new_section_path %>